*, *::before, *::after {
    box-sizing: border-box;
}

/*general styles*/

body {
    margin: 0;
    font-family: 'Monserrat', sans-serif;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    padding: .5em;
}

button {
    border-radius: 25px;

    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: #A59678;
    border-style: none;
    padding: .5em 1.25em;
}

.subsection-heading {
    font-size: 1.20rem;
    font-family: 'Oswald', sans-serif;
}

.subsection {
    font-size: .90rem;
}

/*main*/

.main-section {
    background-color: #3B4050;
    padding: 3em 0;
    color: white;
}

span {
    color:#A59678;
}

/*section-two*/

.section-two {
    background-color: #f2eee3;
    text-align: center;
    padding: 2em;
}

.section-two-heading {
    color:#A59678;
}

.subsection-2 {
    padding: .25em 0;
}

/*section-three*/

.section-three {
    padding: 1em 2em;
}

.section-three-heading {
    color:#A59678;
}

.subsection-3 {
    background-color: #2E323f;
    text-align: center;
    color: white;

    padding: 2em;
    margin: 2em;
}

/*footer*/

.footer-section {
    background-color: #3B4050;
    color: white;
    padding: 3em 0;
    text-align: center;
}

.heading {
    font-family: 'Oswald', sans-serif;
}

.footer-subheading {
    color: #A59678;

}